html,
body {
  padding: 0;
  margin: 0;
  /* background-color: var(--cui-palette-background-paper); */
}

/* @media (prefers-color-scheme: light) {
  html,
  body {
    color: #121212;
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    color: white;
    background-color: #121212;
  }
} */
